<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="static/images/favicon-64.png" />
    <link rel="stylesheet" href="static/css/application.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #053B52">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="static/images/aspenmesh-icon.png" height="24" class="d-inline-block align-text-top">
                Online Shopping Store
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-10" ><h2>Catalog</h2></div>
        </div>
        <div class="row">
            <div class="col-10">
                <p class="lead">The following items are available to order.&nbsp;&nbsp;Click on an item's name to view details and to order.</p>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <tr  class="bg-info">
                <th scope="col" style="text-align:center;">Product</th>
                    <th scope="col" style="text-align:center;">Name</th>
                    <th scope="col" style="text-align:center;">Amount (LKR) </th>
                    <th scope="col" style="text-align:center;">In Stock</th>
            </tr>
            <tbody>
                <tr>
                    <td style="text-align:center;"><img src={{catalogItems[0]['imageSource']}} width="48" ></td>
                    <td style="text-align:center;"><a href="/itemDetails?id={{catalogItems[0]['id']}}">{{catalogItems[4]['name']}}</a></td>
                    <td style="text-align:center;">{{catalogItems[0]['amount']}}</td>
                    <td style="text-align:center;">{{catalogItems[0]['inStock']}}</td>
                </tr>
            <tr>
                    <td style="text-align:center;"><img src={{catalogItems[1]['imageSource']}} width="48" ></td>
                    <td style="text-align:center;"><a href="/itemDetails?id={{catalogItems[1]['id']}}">{{catalogItems[4]['name']}}</a></td>
                    <td style="text-align:center;">{{catalogItems[1]['amount']}}</td>
                    <td style="text-align:center;">{{catalogItems[1]['inStock']}}</td>
                </tr>
            <tr>
                    <td style="text-align:center;"><img src={{catalogItems[2]['imageSource']}} width="48" ></td>
                    <td style="text-align:center;"><a href="/itemDetails?id={{catalogItems[2]['id']}}">{{catalogItems[4]['name']}}</a></td>
                    <td style="text-align:center;">{{catalogItems[2]['amount']}}</td>
                    <td style="text-align:center;">{{catalogItems[2]['inStock']}}</td>
                </tr>
            <tr>
                    <td style="text-align:center;"><img src={{catalogItems[3]['imageSource']}} width="48" ></td>
                    <td style="text-align:center;"><a href="/itemDetails?id={{catalogItems[3]['id']}}">{{catalogItems[4]['name']}}</a></td>
                    <td style="text-align:center;">{{catalogItems[3]['amount']}}</td>
                    <td style="text-align:center;">{{catalogItems[3]['inStock']}}</td>
                </tr>
            <tr>
                    <td style="text-align:center;"><img src={{catalogItems[4]['imageSource']}} width="48" ></td>
                    <td style="text-align:center;"><a href="/itemDetails?id={{catalogItems[4]['id']}}">{{catalogItems[4]['name']}}</a></td>
                    <td style="text-align:center;">{{catalogItems[4]['amount']}}</td>
                    <td style="text-align:center;">{{catalogItems[4]['inStock']}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
</div>

    <script src="static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>


</body>

</html>