<!DOCTYPE HTML>
<html  lang="en">

<head>
    <title th:text="'Details - ' + ${item.name}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/favicon-64.png" />
    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #053B52">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/aspenmesh-icon.png" height="24" class="d-inline-block align-text-top">
                Aspen Mesh Microservices Example
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="text-center py-5">
            <img class="d-block mx-auto mb-4" src="/images/aspenmesh.png" width="200" />
        </div>
        <div class="row">
            <h2>Item Details</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <img th:src="${item.imageSource}" width="200" />
            </div>
            <div class="col-8">
                <div>
                    <h4 th:text="${item.name}" />
                </div>
                <div>
                    <p><strong>Description:</strong> <span th:text="${item.description}" /></p>
                </div>
                <div>
                    <p><strong>Price:</strong> <span th:text="${#numbers.formatCurrency(item.amount)}"/></p>
                </div>
                <div>
                    <p><strong>In Stock:</strong> <span th:text="${item.inStock} ? 'Yes' : 'No'"/></p>
                </div>
            </div>
        </div>
        <hr class="mb-4"/>
        <div class="row">
            <div class="col-10">
                <span th:if="${item.inStock}">
                    <a class="btn btn-primary" role="button" th:href="'/order?id=' + ${item.id}">Order Now</a>&nbsp;&nbsp;
                </span>
                <a role="button" class="btn btn-secondary" href="/catalog">Back to Catalog</a>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>